.header {
	border-bottom: solid 1px #aeb0b5;
	margin-bottom: 15px;
}

.term {
	font-weight: 500;
}

.yes-no {
	margin-right: 5px;
	margin-left: 5px;
}

.main-heading{
	font-size: 28px;
	margin-bottom: 10px;
}

.sub-heading{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 50px;
}

#definitions{
	margin-top: 15px;
}

.help {
	background-color: #aeb0b5;
	font-weight: 600;
}

p {
	margin-top: 5px;
}

textarea {
	margin: 10px 0px;
}