.header {
	border-bottom: solid 1px #aeb0b5;
	margin-bottom: 15px;
	margin-top: -35px;
}

.term {
	font-weight: 500;
}

div.edit {
	color: #337ab7;
	cursor: pointer; 
	cursor: hand;
}

button.add {
	margin-bottom: 10px;
}

#site-status {
	float: right;
}

.row.clin {
	border: 1px solid;
}

.edit-box {
	margin-bottom: 10px;
}

.fake-table {
	margin-top: 5px;
	margin-bottom: 10px;
}

.row + .row {
	border-top:0;
}

div.btn-toolbar{
	margin-top: 20px;
}

.table-content {
	margin-top: 5px;
	margin-bottom: 5px;
}

.yes-no {
	margin-right: 5px;
	margin-left: 5px;
}

.table-wrapper {
	border: solid 1px;
}

.sidebar-nav{
}

.main-heading{
	font-size: 28px;
	margin-bottom: 10px;
}

.sub-heading{
	font-size: 20px;
	font-weight: 500;	
}

.sub-text{
	font-style: italic;
	/*margin-top: 5px;*/
	margin-bottom: 10px;
	font-size: 95%;
}

.resulting-text{
	font-weight: 500;
	font-size: 115%;
	text-decoration: underline;
}

#definitions{
	margin-top: 15px;
}

.help {
	background-color: #aeb0b5;
	font-weight: 600;
}

.short-response{
	width: 150px;
	margin-left: 5px;
}

.medium-response{
	width: 300px;
}

.long-response{
	width: 100%;
}

.new-content {
	font-weight: 600;
	font-color: red;
}

.input-guidelines{
	margin-left: 10px;
}

p {
	margin-top: 5px;
}

textarea {
	margin: 10px 0px;
}

#sidenav.affix {
	top: 0px;
}